
/* Colors
    Langoustine:#c95e33
    Stargazing (dark gray):#444347
    Griffin (light gray):#8e8e90
    White Beach: #f4eee6;
    Campfire: #bd643e;
    Warm Brone: #8d4b27
*/

/* TYPOGRAPHY
  Headings
  Paragraph
  Links
  Unordered Lists / Ordered lists

*/

/* GLOBAL
  Tables
  Links
  Buttons
  Header
  Footer
*/

/* ANIMATIONS
*/

/* COMPONENT LEVEL
  (Things go here that would go on all the pages but be related to a specific part of the page, meaning like if you had something you repeated on every page – put that here.)
*/

/* PAGE SPECIFIC
   Page specific styles. (Styles used only on particular pages)
*/

/* MEDIA QUERIES
*/

  /* general styling */
  * {
  box-sizing: border-box;
  }

  /* typography */
  body {
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    font-weight:300;
    line-height:1.6; /* sets the line-height to 1.6 * the font-size */
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
  }
  h1 {
    font-size: 2.25em;
    font-weight:700;
    color: #444347;
  }
  h2 {
    text-align: center;
    font-size: 1.75em;
    font-weight:700;
    color: #c95e33;
  }
  h3 {
    font-size: 1.25em;
    font-weight:500;
    color: #444347;
  }

  header {
    background-color: #f4eee6;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    font-weight:500;
    line-height:1.6;
    color: #444347;
    width: 100%;
  }

  .sally {
    color: #c95e33;
   }

   #hero {
     background-color: #ffffff;
   }

   #hero h1 {
     margin: 0;
     padding: 0.67em 0;
     text-align: center;
   }

   #short-intro {
     font-size:0.6em;
     font-weight:400;
   }

  main {
    padding-top: 140px;
  }

  footer {
    background-color: #f4eee6;
    padding:10px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight:500;
    line-height:1.6;
    color: #444347;
  }

  #contact-page {
    background-color: #ffffff;
  }
  #contact {
    text-align: center;
    font-size: 20px;
  }

  #copyright {
    font-size: 14px;
    text-align: center;
  }

  p {
    font-size: 20px; /* p: 18px */
    font-weight:300;
    font-family: 'Roboto', sans-serif;
    line-height:1.4;
  }

  img {
    width: 100%;
  }

  a {
    color: #444347;
    text-decoration: none;
  }
  a:hover, a:focus {
    color: #c95e33;
    text-decoration: underline;
  }

  .logo {
    max-width: 250px;
  }

  a:hover.logo {
    color: #c95e33;
    text-decoration: none;
  }

  /* Layout stylying*/
  nav {
    display: inline-block;
    width: 100%;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 15px;
    font-weight: 500;
    color: #444347;
  }

  .current-page {
    color: #c95e33;
  }

  div {
    display: block;
  }

  .container {
    padding: 0 20px;
    max-width: 1200px;
  }

  .section {
    margin: 20px 0;
  }

  .sub-section {
    margin: 20px 0;
  }

  .row {
    margin: 20px 0;
  }

  .external-link {
    color:#c95e33;
    font-weight: 500;
    text-decoration: none;
  }

  a:hover.external-link {
    color:#c95e33;
    font-weight: 500;
    text-decoration: underline;
  }

  .social {
    text-align: center;
    padding: 0 15px;
  }

  .social a {
    display: inline-block;
    margin: 0 5px;
  }

  .social svg {
    width: 50px;
    height: auto;
  }

  /* Note: Always put this rule at the END of stylesheet to avoid overwritten */
  .button{
    display: inline-block;
    background-color: #c95e33;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s opacity;
  }

  .button:hover {
    display: inline-block;
    background-color: transparent;
    color: #c95e33; /* needed to override the default link color */
    border: 2px solid #c95e33;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.2s opacity;
  }

  .button.contact {
    background-color: transparent;
    color: #bd643e;
    border: 2px solid #bd643e;
  }
  .button.contact:hover {
    background-color: #bd643e;
    color: #ffffff;
  }
